body {
  font: 18px Tahoma;
}
img {
  vertical-align: middle;
  cursor: pointer;
}
.img_buttons {
  float: left;
  width: 22px;
  height: 22px;
  margin-right: 4px;
}

.list {
  width: 500px;
  float: left;
  margin: 0 50px;
}

.parent_item {
  height: 22px;
  margin: 7px;
  background-color: rgba(91,255,174,0.36);
  padding: 4px;
  cursor: pointer;
}

.child_item {
  height: 22px;
  margin: 7px;
  background-color: rgba(80, 173, 255, 0.25);
  padding: 4px;
  cursor: pointer;
}

.tab {
  margin-left: 100px;
}
.buttons_plus_minus {
  width: 30px;
}
