<!--The content below is only a placeholder and can be replaced.-->

      <!--    <input type="number" class="form-control" [(ngModel)]="price" placeholder="Цена" />
          <button class="btn btn-default" (click)="addItem(text, price)">Добавить</button>  -->

<div class="list">
  <h1>DATA</h1>
  <div class="parent_container" *ngFor="let dataItem of data">
    <div class="parent_item">
      <img src="../assets/theme/minus.png" (click)="dataItem.opened = false" *ngIf="dataItem.opened">
      <img src="../assets/theme/plus.png" (click)="dataItem.opened = true" *ngIf="!dataItem.opened">
      {{dataItem.id}}. {{dataItem.name}}
    </div>
    <div *ngIf="dataItem.opened">
      <div class="child_item tab" *ngFor="let childItem of dataItem.children" (click)="moveToActive(dataItem, childItem)">
        {{childItem.name}}
      </div><!--.child_item-->
    </div>
  </div><!--.parent_container-->
</div><!--.list-->

<div class="list">
  <h1>ACTIVE</h1>
  <div class="child_item" *ngFor="let childItem of active">
    {{childItem.name}}
  </div><!--.child_item-->
</div><!--.list-->



